@{
    ViewData["Title"] = "Home Page";
}

<!-- Banner -->
@if (@TempData["loggedIn"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        @TempData["loggedIn"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<section id="banner">
    <div class="container-fluid" id="banner-container">
        <div class="row" id="banner-row">
            <div class="col-md-7" id="banner-col">
                <h3>Your Trusted Partner in Healthcare Solutions</h3>
                <p>Delivering innovative and reliable healthcare solutions tailored for Kenya. We specialize in healthcare technologies, medical devices, pharmaceuticals, diagnostics, and comprehensive healthcare services to empower providers and ensure patient satisfaction.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-center">
                    <a href="#" class="btn btn-primary" role="button">Learn More</a>
                </div>
            </div>
            <div class="col-md-5" id="banner-col2">
                <img src="~/images/health-banner.jpg" alt="banner" class="img-responsive rounded mx-auto d-block">
            </div>
        </div>
    </div>
</section>

<!-- Services -->
<section id="service">
    <h1 class="text-center">OUR SERVICES</h1>
    <div class="container-fluid" id="service-container">
        <div class="row">
            <div class="col-md-4" id="service-col1">
                <img src="~/images/tech-health.jpg" class="img-fluid rounded mx-auto d-block" alt="services">
                <h3>Health Technology</h3>
                <p>Providing advanced solutions like telemedicine platforms, electronic health record systems, and healthcare data analytics tools to modernize healthcare delivery.</p>
            </div>
            <div class="col-md-4" id="service-col2">
                <img src="~/images/pharmaceuticals.jpg" alt="services" class="img-fluid rounded mx-auto d-block">
                <h3>Pharmaceutical Supplies</h3>
                <p>Offering quality medicines, vaccines, and specialty pharmaceuticals to healthcare facilities and pharmacies across Kenya.</p>
            </div>
            <div class="col-md-4" id="service-col3">
                <img src="~/images/medical-devices.jpg" alt="services" class="img-fluid rounded mx-auto d-block">
                <h3>Medical Devices</h3>
                <p>Delivering cutting-edge diagnostic equipment, surgical tools, and life-saving devices to healthcare providers.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" id="service-col4">
                <img src="~/images/dentistry.jpg" alt="services" class="img-fluid rounded mx-auto d-block">
                <h3>Dentistry & Orthodontics</h3>
                <p>Partnering with dental clinics to supply high-quality dental tools, imaging systems, and oral health products.</p>
            </div>
            <div class="col-md-4" id="service-col5">
                <img src="~/images/emergency.jpg" alt="services" class="img-fluid rounded mx-auto d-block">
                <h3>Emergency Medical Services</h3>
                <p>Ensuring seamless access to emergency equipment like defibrillators, first aid kits, and mobile life-support systems.</p>
            </div>
            <div class="col-md-4" id="service-col6">
                <img src="~/images/biotech.jpg" alt="services" class="img-fluid rounded mx-auto d-block">
                <h3>Biotechnology & Diagnostics</h3>
                <p>Providing labs and research centers with cutting-edge biotechnology tools and diagnostic reagents for faster and accurate results.</p>
            </div>
        </div>
    </div>
</section>
<hr />

<!-- About Us -->
<section id="about">
    <h1 class="text-center">ABOUT US</h1>
    <div class="container-fluid" id="about-container">
        <div class="row">
            <div class="col-md-5" id="about-col">
                <ul style="font-size: 19px;">
                    <li>We are committed to advancing healthcare in Kenya through technology, innovative products, and reliable services.</li>
                    <li>Our mission is to support healthcare providers in delivering exceptional patient care by offering comprehensive solutions tailored to local needs.</li>
                    <li>Founded in 2023, we have been at the forefront of transforming healthcare with a focus on quality, accessibility, and innovation.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<hr />

<!-- Contact Us -->
<section id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h3>Contact Us</h3>
                <p>Call Us: +254 111 905855</p>
                <p>Email Us: <a href="mailto:contact@healthsolutions.co.ke">contact@healthsolutions.co.ke</a></p>
            </div>
            <div class="col-md-6">
                <h3>Subscribe to Our Newsletter</h3>
                <form>
                    <div class="mb-3">
                        <input type="email" placeholder="Enter Your Email" class="form-control" id="exampleInputEmail">
                        <div class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>


